RewriteEngine On

# Rewrite voor login
RewriteRule ^login$ /public/index.php?controller=User&method=login [L]

# Rewrite voor register
RewriteRule ^register$ /public/index.php?controller=User&method=register [L]

# Rewrite voor logout
RewriteRule ^logout$ /public/index.php?controller=User&method=logout [L]

# Rewrite voor school
RewriteRule ^school$ /public/index.php?controller=School&method=index [L]

# Rewrite voor home (root)
RewriteRule ^$ /public/index.php?controller=Home&method=index [L]

# Rewrite voor contact
RewriteRule ^contact$ /public/index.php?controller=Home&method=contact [L]

# Rewrite voor projects
RewriteRule ^projects$ /public/index.php?controller=Home&method=projects [L]
