<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Login" stopProcessing="true">
          <match url="^login$" />
          <action type="Rewrite" url="public/index.php?controller=User&amp;method=login" />
        </rule>
        <rule name="Register" stopProcessing="true">
          <match url="^register$" />
          <action type="Rewrite" url="public/index.php?controller=User&amp;method=register" />
        </rule>
        <rule name="Logout" stopProcessing="true">
          <match url="^logout$" />
          <action type="Rewrite" url="public/index.php?controller=User&amp;method=logout" />
        </rule>
        <rule name="School" stopProcessing="true">
          <match url="^school$" />
          <action type="Rewrite" url="public/index.php?controller=School&amp;method=index" />
        </rule>
        <rule name="Home" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="public/index.php?controller=Home&amp;method=index" />
        </rule>
        <rule name="Contact" stopProcessing="true">
          <match url="^contact$" />
          <action type="Rewrite" url="public/index.php?controller=Home&amp;method=contact" />
        </rule>
        <rule name="Projects" stopProcessing="true">
          <match url="^projects$" />
          <action type="Rewrite" url="public/index.php?controller=Home&amp;method=projects" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
