{% extends "layouts/app.twig" %}


{% block title %}
	Projects
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 col-lg-12">
			<h3 class="text-active">Welkom op mijn portfolio!</h3>
			<div class="card text-color">
				<div class="card-body">
					<p>Ik ben helemaal in de ban van web development en heb me in allerlei projecten gestort om mijn skills uit te bouwen en te groeien als ontwikkelaar. Elk project was als een nieuw avontuur waar ik enthousiast in dook!</p>
					<p>Ik heb echt plezier beleefd aan het knutselen met verschillende tools om te zorgen dat websites er niet alleen goed uitzien, maar ook soepel werken. Mijn doel? Websites maken waar mensen blij van worden en die ze graag gebruiken.</p>
					<p>Ik ben al met al best trots op wat ik heb gemaakt, maar ik ben nog lang niet klaar. Ik kijk er bijvoorbeeld naar uit om meer te leren over het technische gedeelte van development, vooral de 'achterkant' van websites. Dus als je me zoekt, ik ben waarschijnlijk ergens in een hoekje van het internet bezig om nog slimmer te worden!</p>
					<p>Blader gerust door mijn werk en ontdek de coole dingen waar ik aan heb gewerkt. Bedankt dat je een kijkje neemt, en laten we samen verder bouwen aan geweldige online ervaringen!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-12 col-lg-4 text-color mb-3">
			<h3 class="text-active">Binsta</h3>
			<div class="card">
				<img src="assets/images/binsta.png" class="card-img-top">
				<div class="card-body">
					<p class="card-text">
						Info over project
					</p>
					<p class="card-text">
						<a class="btn btn-outline-light">Bekijk project</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4 text-color mb-3">
			<h3 class="text-active">SpaceX</h3>
			<div class="card">
				<img src="assets/images/spacex.png" class="card-img-top">
				<div class="card-body">
					<p class="card-text">
						Info over project
					</p>
					<p class="card-text">
						<a class="btn btn-outline-light">Bekijk project</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4 text-color mb-3">
			<h3 class="text-active">Webshop</h3>
			<div class="card">
				<img src="assets/images/webshop.png" class="card-img-top">
				<div class="card-body">
					<p class="card-text">
						Info over project
					</p>
					<p class="card-text">
						<a href="https://webshop.darylfarber.nl" target="_blank" class="btn btn-outline-light">Bekijk project</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4 text-color mb-3">
			<h3 class="text-active">Westworld</h3>
			<div class="card">
				<img src="assets/images/westworld.png" class="card-img-top">
				<div class="card-body">
					<p class="card-text">
						Info over project
					</p>
					<p class="card-text">
						<a href="https://westworld.darylfarber.nl" target="_blank" class="btn btn-outline-light">Bekijk project</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4 text-color mb-3">
			<h3 class="text-active">StayNetherlands</h3>
			<div class="card">
				<img src="assets/images/staynetherlands.png" class="card-img-top">
				<div class="card-body">
					<p class="card-text">
						Info over project
					</p>
					<p class="card-text">
						<a href="https://staynetherlands.darylfarber.nl" target="_blank" class="btn btn-outline-light">Bekijk project</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/js/contact.js"></script>
{% endblock %}